{% extends "base.html" %}
{% load crispy_forms_tags %}


<div class="container">
    {% block content %}
    <div class="row">

        <div class="col-sm-4">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Details</legend>
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <legend class="border-bottom mb-4">Calculator</legend>
            <select id="sel" onchange="show(this.value)">
                <option value="">-- Select --</option>
            </select>
            <hr>
            <p id="msg"></p>
        </div>

        <script>

                var ranges = [
                    {Range: "5K-10K", Value: "3000"},
                    {Range: "10K-20K", Value: "4000"},
                    {Range: "20K-30K", Value: "5000"},
                    {Range: "30K-40K", Value: "6000"},
                    {Range: "40K-50K", Value: "7000"},
                    {Range: "50K-60K", Value: "7500"},
                    {Range: "60K-70K", Value: "8000"},
                    {Range: "70K-80K", Value: "8500"},
                    {Range: "80K-90K", Value: "9000"},
                    {Range: "90K-100K", Value: "9500"}
                ];


                function populateSelect() {
                  var ele = document.getElementById('sel');
                  ranges.forEach(function(b) {
                    ele.innerHTML += '<option value="' + b.Value + '">' + b['Range'] + '</option>';
                  })

                }

                function show(id) {
                  // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
                  var msg = document.getElementById('msg');
                  if (!id) {
                    msg.innerHTML = 'None selected';

                  } else {
                    for (var i = 0; i < ranges.length; i++) {
                      if (id === ranges[i].Value) {
                        msg.innerHTML = "Total Pay: " + " " + ranges[i].Value;
                        break;
                      }
                    }
                  }
                }
                populateSelect()

        </script>

    </div>
    {% endblock content %}

</div>