{% extends "base.html" %}
{% load static %}


<!-- Left side columns -->
{% block content %}
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About US/h1>
  <p> <a href="shakhu.com@gmail.com">shakhu.com</a> is the website where the great vendors hosts their products.<br> But before hosting of any product our team of 140 people check the product that IS THE PRODUCT GOOD OR NOT ? WILL IT HELP THE PEOPLE OR NOT ?<br> After checking  and Varified,  the product is hosted on the website. If you have any problem then you can email us on shakhu.com@gmail.com.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="media/profile_pics/profile_image.jpeg" alt="Mukesh Gautam" style="width:100%">
      <div class="container">
        <h2>Mukesh Gautam</h2>
        <p class="title">CTO & Founder</p>
        <p>Have more than 10+ years of experience in Software Development and Sales & Marketing </p>
        <!-- <p>jane@example.com</p> -->
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Shahid Khan" style="width:100%">
      <div class="container">
        <h2>Shahid Khan</h2>
        <p class="title">CEO & Founder</p>
        <p>Have more than 3+ years of experience in Sales & Marketing</p>
        <!-- <p>mike@example.com</p> -->
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    <!--
  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="Khushboo" style="width:100%">
      <div class="container">
        <h2>KhusHboo</h2>
        <p class="title">Sales Executive</p>
        <p>Have more than 3+ years of experience in Sales & Marketing.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  -->
</div>

</body>
{% endblock content %}